### 1. Given a list of integers, remove all occurrences of a specific value using a list method.

In [4]:
lis=[1,3,5,8,5,9,5]
lis.remove(1)
print(lis)

[3, 5, 8, 5, 9, 5]

### 2. Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [5]:
l1 = ['hello', 'world']
str = ' '.join(l1)
print(str)

hello world

### 3. Reverse a list of integers using a built-in list method.

In [6]:
l2=[1,3,5,8,5,9,5]
l2.reverse()
print(l2)

[5, 9, 5, 8, 5, 3, 1]

### 4. Sort a list of numbers in descending order using a built-in list method.

In [7]:
l3=[1,3,5,8,5,9,5]
l3.sort(reverse=True)
print(l3)

[9, 8, 5, 5, 5, 3, 1]

### 5. Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [11]:
lis1=[1,3,5,8,5,9,5]
lis2=[9,8,5,5,5,3,1]
lis3=list(set(lis1+lis2))
print(lis3)

[1, 3, 5, 8, 9]

### 6. Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [15]:
t=(1,5,8,6,3)
print(type(t))

list1=list(t)
print(type(list1))
list1[1:-1]

<class 'tuple'>
<class 'list'>

[5, 8, 6]

### 7. Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [16]:
t_lst = [(1, 'a'), (2, 'b'), (3, 'c')]
final_lis = list(map(lambda x: x[0], t_lst))
print(final_lis)

[1, 2, 3]

### 8. Combine two tuples into a single tuple.

In [20]:
t1=(1,5,8,9)
t2=(6,8,9,6)
t3=tuple(t1+t2)
print(t3)

(1, 5, 8, 9, 6, 8, 9, 6)

### 9. Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [26]:
t4=(5,8,89,12,20)
print("maximum number from tuple t4 =", max(t4))
print("minimum number from tuple t4 =", min(t4))

maximum number from tuple t4 = 89
minimum number from tuple t4 = 5

### 10. Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [31]:
t5=("SGVU", "JAIPUR", "JAGATPURA")
T6=', ' .join(t5)
print(T6)

SGVU, JAIPUR, JAGATPURA

### 11. Given two sets, return the union of the two sets using a set operation.

In [33]:
s1={1,2,5,6}
s2={5,9,2,8}
s3=s1.union(s2)
print(s3)

{1, 2, 5, 6, 8, 9}

### 12. Find the intersection of two sets using a set method.

In [34]:
s4=s1.intersection(s2)
print(s4)

{2, 5}

### 13. Remove all elements from one set that are also present in another set using a set method.

In [37]:
s1={1,2,5,6}
s5=s1.difference_update(s2)
print(s5)

None

### 14. Find the difference between two sets using a set method.

In [38]:
s6=s1.difference(s2)
print(s6)

{1, 6}

### 15. Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [39]:
lis11 = [1, 2, 2, 3, 4, 4, 5]
set1 = set(lis11)
unique_list = list(set1)
print(unique_list)

[1, 2, 3, 4, 5]

### 16. Merge two dictionaries into a single dictionary using a dictionary method.

In [41]:
dic1={"Name":"Ram", "Age":22, "Branch":"Cse"}
dic2={"Address":"Jaipur", "Gender":"Male", "E-mail":"ram@gmail.com"}
dic3={**dic1,**dic2}
print(dic3)

{'Name': 'Ram', 'Age': 22, 'Branch': 'Cse', 'Address': 'Jaipur', 'Gender': 'Male', 'E-mail': 'ram@gmail.com'}

### 17. Extract all values from a dictionary into a list using a dictionary method.

In [44]:
dic4=list(dic3.values())
print(dic4)

['Ram', 22, 'Cse', 'Jaipur', 'Male', 'ram@gmail.com']